#about
	padding 90px 0
	@media screen and (max-width 560px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding 40px 0
.about-text
	color #fff
	font-size: 22px
	margin-bottom: 20px
	span
		font-weight: bold
	&:last-child
		margin-bottom: 0
	@media screen and (max-width 560px)
		font-size: 18px
		margin-bottom: 10px