header
	a(href="https://mastervision.su", target="_blank")
		img.header-logo(src=path+"img/images/logo.png", alt="Логотип")
	.contacts
		a.contact.contact-tel(href="tel:84951520801" target="_blank") 8-495-152-08-01
		a.contact.contact-email(href="mailto:info@mastervision.su" target="_blank") info@mastervision.su