@import 'base/1-fonts'

@import '../_css/bootstrap2.min.css'
@import '../_css/jquery.fancybox.min.css'

@import 'base/2-base-0'
@import 'base/2-base-m'
@import 'base/3-header'

@import 'course/1-main'
@import 'course/2-about'
@import 'course/3-lets'
@import 'course/4-plan'
@import 'course/5-prices'
@import 'main/7-author'
@import 'main/8-revs'
@import 'course/6-recs'
@import 'main/9-last'
@import 'base/4-footer'