@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'

@import 'base/2-base-0'
@import 'base/2-base-m'
@import 'base/3-header'

@import 'main/1-main'
@import 'main/2-video'
@import 'main/3-why'
@import 'main/4-for'
@import 'main/5-plan'
@import 'main/6-lets'
@import 'main/7-author'
@import 'main/8-revs'
@import 'main/9-last'
@import 'base/4-footer'
@import 'main/10-modal'