#main
	min-height calc(100vh - 147px)
	background-color: #080D1F
	color #fff
	padding 0 0 90px
.main
	&-title
		font-size: 30px
		font-weight: 900
		text-transform uppercase
	&-text
		font-size: 20px
	&-img
		display block
		width 100%
		max-width 380px
		border-radius 10px