.modal
	display none
	cursor auto !important
	padding 20px
	width 100%
	max-width 550px
	overflow hidden
.fancybox-slide--html .fancybox-close-small
	color #fff
	opacity 1
	transition: all .5s ease
	outline: 0
	padding 0
	&:hover
		transform: rotate(45deg)
.form-modal
	margin 0 auto
	position relative
	z-index: 50
.modal-title
	text-align center
	font-size: 30px
	font-weight: 900
	margin: 40px 0
	color #fff
	text-transform uppercase
.input-mail-modal
	display block
	width 100%
	max-width 380px
	margin 0 auto 20px
	float: none
.button-form-modal
	float: none
	display block
	width 100%
	max-width 380px
	margin 0 auto