#video
	padding 90px 0
	@media screen and (max-width 560px)
		padding 60px 0
	@media screen and (max-width 386px)
		padding 40px 0
.video-text
	margin-top: -5px
	@media screen and (max-width 1199px)
		margin-top: 5px
.video-cite
	text-align right
	display block
	@media screen and (max-width 1199px)
		margin-bottom: 10px
	@media screen and (max-width 991px)
		margin-bottom: 30px
.video-wrapper-video
	@media screen and (max-width 991px)
		max-width 560px
		margin 0 auto 35px
	@media screen and (max-width 386px)
		margin-bottom: 20px