#why
	.container
		position relative
.why-bg
	position absolute
	width auto
	top 0
	left 15px
	height: 100%
.content-why
	padding 90px 0 90px 35px
.general-img-why
	img
		bottom: -90px
		right 0
.why-img
	position absolute
	right 0
	bottom: 0
.button-why
	margin-top: 60px