#plan
	padding 90px 0
	background-color: #080D1F
	background-image: url(../img/backs/main.png)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.button-plan
	margin-top: 60px
.general-img-plan
	top 100px
	right 200px