#lets
	padding 90px 0
	margin 65px 0
	background-color: #59585A
	background-image: url('../img/backs/lets.png')
	background-repeat: no-repeat
	background-position: center
	background-size cover
	@media screen and (max-width 560px)
		padding 60px 0
		margin 30px 0
	@media screen and (max-width 386px)
		padding 40px 0
		margin 20px 0
.lets-item
	width 100%
	max-width 365px
	margin 0 auto 35px
	display table
	border-radius 10px
	background-color: rgba(255,255,255,.75)
	padding 35px
	min-height 200px
	@media screen and (max-width 1199px)
		min-height 252px
	@media screen and (max-width 767px)
		display block
		min-height 1px
	@media screen and (max-width 560px)
		padding 20px
		margin-bottom: 20px
	&-text
		text-align center
		display table-cell
		vertical-align: middle
		@media screen and (max-width 560px)
			display block
.button-lets
	margin-top: 20px