#lets
	padding 90px 0
	margin 65px 0
	background-color: #59585A
	background-image: url('../img/backs/lets.png')
	background-repeat: no-repeat
	background-position: center
	background-size cover
.lets-item
	width 100%
	max-width 365px
	margin 0 auto 35px
	display table
	border-radius 10px
	background-color: rgba(255,255,255,.75)
	padding 35px
	min-height 200px
	&-text
		text-align center
		display table-cell
		vertical-align: middle
.button-lets
	margin-top: 20px