.author-info
	padding 90px 0
	background-color: #E0E5E2
	overflow hidden
.author-pre
	font-size: 20px
	font-weight: bold
	text-transform uppercase
	color #fff
.author-about
	// margin-bottom: 420px
	position relative
	margin-top: 50px
	.general-wrapper-white
		position relative
		top -70px
		left 0
		min-height 312px
.general-img-author
	img
		width 100%
		top 20px
		left 0