#revs
	padding 70px 0 50px
	@media screen and (max-width 991px)
		padding 70px 0 30px
	@media screen and (max-width 560px)
		padding 60px 0 30px
	@media screen and (max-width 386px)
		padding 40px 0 0
.video-wrapper-rev
	width 100%
	max-width 560px
	margin 0 auto
.video-rev-text
	font-size: 20px
	font-weight: 100
	text-align center
	margin 10px 0 40px
	color #152954
	@media screen and (max-width 560px)
		margin 10px 0 30px
		font-size: 18px