#last
	padding 120px 0
	background-color: #59585A
	background-image: url('../img/backs/lets.png')
	background-repeat: no-repeat
	background-position: center
	background-size cover
	text-align center
	color #fff
.last
	&-title
		font-size: 48px
		font-weight: 900
		text-transform uppercase
	&-text
		font-size: 30px
		font-weight: bold
		text-transform uppercase
		margin 90px 0 100px