TTN = 'TTNorms', sans-serif;

@font-face
	font-family: 'TTNormsLight';
	font-display: fallback;
	font-weight: 100;
	font-style: normal;
	src: url('../fonts/TTNormsLight.eot');
	src: url('../fonts/TTNormsLight.eot') format('embedded-opentype'), url('../fonts/TTNormsLight.woff2') format('woff2'), url('../fonts/TTNormsLight.woff') format('woff'), url('../fonts/TTNormsLight.ttf') format('truetype'), url('../fonts/TTNormsLight.svg#TTNormsLight') format('svg');
@font-face
	font-family: 'TTNormsRegular';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/TTNormsRegular.eot');
	src: url('../fonts/TTNormsRegular.eot') format('embedded-opentype'), url('../fonts/TTNormsRegular.woff2') format('woff2'), url('../fonts/TTNormsRegular.woff') format('woff'), url('../fonts/TTNormsRegular.ttf') format('truetype'), url('../fonts/TTNormsRegular.svg#TTNormsRegular') format('svg');
@font-face
	font-family: 'TTNormsBold';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/TTNormsBold.eot');
	src: url('../fonts/TTNormsBold.eot') format('embedded-opentype'), url('../fonts/TTNormsBold.woff2') format('woff2'), url('../fonts/TTNormsBold.woff') format('woff'), url('../fonts/TTNormsBold.ttf') format('truetype'), url('../fonts/TTNormsBold.svg#TTNormsBold') format('svg');
@font-face
	font-family: 'TTNormsBlack';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: url('../fonts/TTNormsBlack.eot');
	src: url('../fonts/TTNormsBlack.eot') format('embedded-opentype'), url('../fonts/TTNormsBlack.woff2') format('woff2'), url('../fonts/TTNormsBlack.woff') format('woff'), url('../fonts/TTNormsBlack.ttf') format('truetype'), url('../fonts/TTNormsBlack.svg#TTNormsBlack') format('svg');