header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
.header-logo
	float left
	width 200px
.contacts
	float: right
	text-align right
	line-height: 15px
.contact
	font-size: 16px
	margin-left 20px
	color #fff
	&:focus
		text-decoration none
		color #fff
	&:hover
		text-decoration underline
		color #fff