section#video
	.container
		.row
			.col-md-6
				+gt('general-title-video-mobile', 'Посмотрите видео')
				.video-wrapper.video-wrapper-video
					iframe(src="https://youtube.com/embed/-5tHiZACxbI?modestbranding=1" allowfullscreen)
			.col-md-6
				+gt('general-title-video-desktop', 'Посмотрите видео')
				p.video-text «На сегодняшний день, партнерские программы - это самый эффективный инструмент по масштабированию бизнеса. И знаете что? Это начинают понимать все больше и больше компаний, но им нужен специалист, который сможет настроить данный инструмент.
					br
					| Этому мы и обучаем…»
				cite.video-cite Вадим Турмович
				+b('', 'blue', href, 'Записаться')