section#why
	.container
		+imgs('why-bg', 'img/backs/why.png', 'Фон блока')
		.container
			+gt('general-title-white', 'Почему данный мастер-класс уникален?')
			.row
				.col-md-4
					+gul('', 'Этот мастер-класс – мечта для карьериста или бизнесмена, позволяющая за короткий срок увеличить оборот и прибыль вашей компании в несколько раз', 'Спикер мастер-класса – практикующий специалист и профессионал в своей сфере', 'Партнёрская программа спикера мастер-класса ежемесячно приносит прибыль в размере, превышающем 20 млн. рублей', 'На мастер-классе вы не услышите обыкновенную теорию из учебников, вы получите данные об эксклюзивном бизнес-опыте человека, который  знает, что говорит, и уверен в каждом сказанном слове')
				.col-md-4
					+gul('', 'Рынок поменялся и требует новых специалистов, а мы представляем новую профессию, зародившуюся совсем недавно, являемся одними из первых, кто этому обучает', 'Есть опыт передачи знаний. Уже есть обученные студенты, которые трудоустроены')
					+b('', 'yellow', href, 'Участвовать бесплатно')
				.col-md-4
					.general-img.general-img-why
						+imgs('', 'img/images/why.png', 'Картинка блока')