mixin fi(n, p)
	.for-item(class='for-item-'+n)
		.for-item-img(class='for-item-img-'+n)
		p.for-item-text=p

section#for
	.container
		+gt('general-title-center', 'Данный мастер-класс необходим тем, кто:')
		.row
			.col-md-3
				+fi('1', 'Осознал, что рынок со временем сильно меняется, поэтому необходимо соответствовать современным реалиям, а также ищет направление, которое принесёт ему чувство удовлетворения на 200% по всем параметрам')
			.col-md-3
				+fi('2', 'Понял, что его потенциал требует большей самореализации и отдачи от профессиональной деятельности, чем у него есть на данный момент')
			.col-md-3
				+fi('3', 'Стремится «пробить» свой зарплатный «потолок» и считает, что он способен зарабатывать не менее 100 тысяч в месяц')
			.col-md-3
				+fi('4', 'Чувствует в себе силы и способности быть уверенным лидером, идейным вдохновителем, для создания своей команды и ведения других людей за собой')
		.row
			.col-md-4
				+fi('5', 'Нуждается в общественном признании, мечтает стать во главе значимой миссии, которая позволит ему быть важным и нужным в глазах других людей')
			.col-md-4
				+fi('6', 'Желает научиться уверенно и успешно выступать перед большой аудиторией, зажигая в глазах публики огонь')
			.col-md-4
				+fi('7', 'Берет ответственность за свою жизнь и хочет помогать другим людям менять их жизни к лучшему')
		+b('button-wrapper-center', 'button-blue', href, 'Мне это необходимо')