section#plan
	.container
		.row
			.col-md-6
				.content
					+gt('general-title-white', 'Программа мастер-класса')
					+gul('', 'Партнерская программа – большие возможности для развития карьеры и бизнеса', 'Кто такой Affiliate-менеджер, и почему эта профессия перспективна', 'Как стать специалистом по внедрению партнерской программы в бизнес', 'Как повысить свою ценность и стать востребованным на рынке труда', 'Партнёрская программа и платный трафик: отличия и сравнение эффективности', 'Как помочь бизнесу выйти на новый уровень дохода')
					+b('', 'yellow button-up button-plan', href, 'Иду на мастер-класс')
			.col-md-6
				.general-img.general-img-plan
					+imgs('', 'img/images/plan.png', 'Картинка блока')