mixin li(n, p)
	.col-md-4
		.lets-item(class='lets-item-'+n)
			p.lets-item-text=p

section#lets
	.container
		+gt('general-title-white general-title-center', 'Мастер-класс позволит Вам:')
		.row
			+li('1', 'Увидеть и объективно оценить все возможности, которые предоставляет новая профессия')
			+li('2', 'Узнать, сколько в месяц зарабатывает руководитель развитой партнерской программы и сколько будете зарабатывать Вы в ближайшее время')
			+li('3', 'Получить знания об особенностях и выгоде при работе в партнерских программах')
		.row
			+li('4', 'Понять, что партнёрская программа – это возможность получить мощный толчок в плане самореализации')
			+li('5', 'Открыть для себя инструмент, который позволит сделать существенный шаг вперёд для личностного роста и улучшения качества жизни')
			+li('6', 'Выгодно сменить работу, заняв более высокую должность со значительным доходом')
		+b('button-wrapper-center', 'yellow button-up button-lets', href, 'Получить пользу')