section#author
	.author-info
		.container
			.row
				.col-md-5.col-md-push-7
					.general-img.general-img-author
						+imgs('', 'img/images/vadim.png', 'Вадим Турмович')
				.col-md-7.col-md-pull-5
					.general-wrapper.general-wrapper-blue
						p.author-pre О тренере
						+gt('general-title-white', 'Вадим Турмович')
						+gul('', 'Руководитель партнерской программы в компании с оборотом более 200 000 000 в год', 'Более 12 лет опыта работы в сфере продаж и построения партнерских программ', 'Имеет положительный опыт развития регионов', 'Опыт работы более чем с 1000 партнерами', 'Региональные вебинары на аудиторию более 2000 человек')
	.author-about
		.container
			.row
				.col-md-6
					.general-wrapper.general-wrapper-white
						h4.general-wrapper-title БАЗОВОЕ ОБРАЗОВАНИЕ
						ul.general-list-2
							li - Международный Институт Судебных Экспертиз и Права
							li - Юрист
							li - Сибирский государственный университет. Инженер
							li - Красноярский Автотранспортный техникум. Техник-механик
				.col-md-6
					.general-wrapper.general-wrapper-white
						h4.general-wrapper-title ДОПОЛНИТЕЛЬНОЕ ОБРАЗОВАНИЕ
						ul.general-list-2
							li - Закрытый недельный тренинг Дмитрия Семина для тренеров (обучение тренерскому мастерству и владение аудиторией)
							li - Обучение по публичным выступлениям у Радислава Гандапаса и его тренинг «Харизма лидера»