section#last
	.container
		h3.last-title Начните сейчас - это бесплатно!
		p.last-text Более 20 000 учеников доверяют нам и реализуют свои цели
		+b('button-wrapper-center', 'yellow button-up', href, 'Записаться на мастер-класс')