section#main
	.container
		.content
			include ../base/1-header
			h1.main-title Благодарим Вас за регистрацию на наш мастер-класс
			.row
				.col-md-6
					.video-wrapper.video-wrapper-main
						iframe(src!="https://www.youtube.com/embed/OHHaDK3xDfE?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
				.col-md-6
					p.main-text У нас к Вам просьба, прямо сейчас 
						span подпишитесь на наш телеграм
						|. В качестве бонуса, в благодарность за подписку в телеграм, Вы получите 
						span видео-ролик от Вадима Турмовича о новой профессии «Affiliate-менеджер», а также о том, кто это такой и чем занимается
						br
					p.main-text Более того Вы сможете задать любой интересующий вас вопрос специалисту компании
					p.main-text 
						span Перейдите в Нашего чат-бота
					a.button.button-yellow(href="https://shop.mastervision.su/index.php?r=form/telegram&id_bot=7") Подписаться 
						img(src=path+"img/icons/tg.png" alt="Telegram")
			p.main-text.main-text-aftertext Обратите внимание, если вы не увидели во входящих сообщениях письмо благодарность, то обязательно проверьте вкладку 
				span.spam спам
				|, либо 
				span.spam промоакции