section#main
	.container
		.content
			include ../base/1-header
			.row
				.col-md-6
					h1.main-title Информации пока нет...
					br
					p.main-text А пока, вот Вам котик
				.col-md-6
					img(src='https://i.pinimg.com/originals/ef/85/d0/ef85d0f73134ded81c460a1b70749685.gif' alt='Котик').main-img