section#main
	.container
		.content
			include ../base/1-header
			.row
				.col-md-8
					p.main-pre Обучающий курс
					h1.main-title Руководитель, 
						br
						| за которым идут 
						span миллионы
					p.main-subtitle Научитесь создавать и внедрять партнёрские программы 
						br
						| и станьте специалистом нарасхват!
					.main-date
						p.main-date-text Старт: 
							span  5 октября, 19:00 (Мск)
						p.main-date-text Авторы: 
							span Вадим Турмович и Александр Кудряшов
					+b('', 'yellow button-on', href, 'Записаться')
		+imgs('main-img', 'img/images/plan-2.png', 'Компьютер')