section#about
	.container
		.general-wrapper.general-wrapper-blue
			p.about-text
				span Партнёрская программа – 
				| это мощный инструмент по продвижению любого бизнеса, в основе которого лежат грамотно выстроенные взаимоотношения. Зная особенности мышления людей, которые участвуют в партнёрских программах, и тонкости функционирования этой системы, можно выстроить огромную команду, которая будет ежемесячно приносить многомиллионную прибыль
			p.about-text А Вы как специалист организовавший этот поток прибыли будете получать существенный доход
			p.about-text И главное Ваша будущая профессия высоко востребована на рынке, и лучшие выпускники могут сразу трудоустроиться