section#lets
	.container
		+imgs('lets-bg', 'img/backs/why.png', 'Фон блока')
		.content.content-lets
			+gt('general-title-white', 'Курс позволит Вам:')
			.row
				.col-md-4
					+gul('', 'Стать более осознанным и окончательно понять, чего Вы хотите от жизни;', 'Научится создавать команду под себя и грамотно работать с ней;', 'Развить в себе лидерские качества и занять должность руководителя партнёрской программы по праву;')
				.col-md-4
					+gul('', 'Научиться создавать и внедрять партнёрские программы в бизнес-процессы, показывая конкретный результат;', 'Освоить одну из самых востребованных онлайн-профессий современности, которая находится только в начале своего развития;', 'Получить искреннее признание сотен компаньонов;')
				.col-md-4
					+gul('', 'Освоить новые современные инструменты для комфортной работы онлайн;', 'Узнать механизм работы успешной партнёрской программы;', 'Существенно повысить свой доход и, как следствие, перейти на новый уровень качества жизни')
			+b('button-wrapper-center', 'yellow button-on button-lets', href, 'Участвовать')
		//- +imgs('lets-img', 'img/images/alexander-2.png', 'Картинка блока')