section#plan
	.container
		+gt('general-title-white','Программа тренинга')
		.lessons
			ul.nav.nav-tabs.lessons-buttons#lessons(role="tablist")
				li(role="presentation").active
					a(href="#lesson-1" aria-controls="lesson-1" role="tab" data-toggle="tab") Занятие 1
				li(role="presentation")
					a(href="#lesson-2" aria-controls="lesson-2" role="tab" data-toggle="tab") Занятие 2
				li(role="presentation")
					a(href="#lesson-3" aria-controls="lesson-3" role="tab" data-toggle="tab") Занятие 3
				li(role="presentation")
					a(href="#lesson-4" aria-controls="lesson-4" role="tab" data-toggle="tab") Занятие 4
				li(role="presentation")
					a(href="#lesson-5" aria-controls="lesson-5" role="tab" data-toggle="tab") Занятие 5
				li(role="presentation")
					a(href="#lesson-6" aria-controls="lesson-6" role="tab" data-toggle="tab") Занятие 6
				li(role="presentation")
					a(href="#lesson-7" aria-controls="lesson-7" role="tab" data-toggle="tab") Занятие 7
				li(role="presentation")
					a(href="#lesson-8" aria-controls="lesson-8" role="tab" data-toggle="tab") Занятие 8
				li(role="presentation")
					a(href="#lesson-9" aria-controls="lesson-9" role="tab" data-toggle="tab") Занятие 9
				li(role="presentation")
					a(href="#lesson-10" aria-controls="lesson-10" role="tab" data-toggle="tab") Занятие 10
				li(role="presentation")
					a(href="#lesson-11" aria-controls="lesson-11" role="tab" data-toggle="tab") Занятие 11
				li(role="presentation")
					a(href="#lesson-12" aria-controls="lesson-12" role="tab" data-toggle="tab") Занятие 12
				li(role="presentation")
					a(href="#lesson-13" aria-controls="lesson-13" role="tab" data-toggle="tab") Занятие 13
				li(role="presentation")
					a(href="#lesson-14" aria-controls="lesson-14" role="tab" data-toggle="tab") Занятие 14
				li(role="presentation")
					a(href="#lesson-15" aria-controls="lesson-15" role="tab" data-toggle="tab") Занятие 15
				li(role="presentation")
					a(href="#lesson-16" aria-controls="lesson-16" role="tab" data-toggle="tab") Занятие 16
			.tab-content.lessons-container
				.tab-pane.fade.in.lesson-body.active(role="tabpanel")#lesson-1
					h5.lesson-title Введение
					ul.lesson-list
						li Введение в специальность
						li Идеология партнерских программ
						li Виды партнерских программ
						li Виды источников трафика
						li Офферы ПП (отличия от платного трафика)
						li Уровни ПП
						li Размер вознаграждений (исходя из фин. стратегии компании)
						li Фиксация клиента за партнёром (первый и последний клик)
				.tab-pane.fade.day-body(role="tabpanel")#lesson-2
					ul.lesson-list
						li Правила ПП
						li Порядочность партнёра
						li Активность партнёра
						li Изменение правил
						li «Сочинение» правил в пути
						li Создание рекламных материалов
						li Разбор домашнего задания урока №1
				.tab-pane.fade.day-body(role="tabpanel")#lesson-3
					ul.lesson-list
						li Технический урок по настройке партнёрской программы в CRM-системе
				.tab-pane.fade.day-body(role="tabpanel")#lesson-4
					ul.lesson-list
						li Технический урок по работе партнёрской программы в CRM-системе
				.tab-pane.fade.day-body(role="tabpanel")#lesson-5
					ul.lesson-list
						li Источники поиска новых партнёров
						li Приглашение к себе в «партнёрку»
						li Оффер по набору партнеров
						li Блоги и обзоры
						li Структура рекламной презентации
						li Разбор домашнего задания урока №2
				.tab-pane.fade.day-body(role="tabpanel")#lesson-6
					ul.lesson-list
						li Сбор информации о партнёрах и их сегментация
						li Обучение партнёров и обеспечение рекламными материалами
						li Чек-лист по структуре обучающего курса для партнёров
						li Разбор домашнего задания урока №3
				.tab-pane.fade.day-body(role="tabpanel")#lesson-7
					ul.lesson-list
						li Мотивация партнёров
							ul.lesson-sublist
								li конкурсы
								li достижения
				.tab-pane.fade.day-body(role="tabpanel")#lesson-8
					ul.lesson-list
						li Ошибки партнёрской программы
						li Взаимоотношения между партнёром и РПП
						li Коммуникация
				.tab-pane.fade.day-body(role="tabpanel")#lesson-9
					ul.lesson-list
						li Содержание собраний для партнёров:
						ul.lesson-sublist
							li мотивация,
							li статистика,
							li цифры (заработки, итоги),
							li продажа продукта и команды
				.tab-pane.fade.day-body(role="tabpanel")#lesson-10
					ul.lesson-list
						li Технический урок по работе партнёрской программы в вебинарных комнатах
				.tab-pane.fade.day-body(role="tabpanel")#lesson-11
					ul.lesson-list
						li Публичные выступления
						li Самопрезентация
				.tab-pane.fade.day-body(role="tabpanel")#lesson-12
					ul.lesson-list
						li Навыки публичный выступлений
						li Разбор презентаций
				.tab-pane.fade.day-body(role="tabpanel")#lesson-13
					ul.lesson-list
						li Обратная связь по выступлениям
						li Улучшения и повышение эффективности
						li Сторитейлинг (Презентация команды, продукта, самопрезентация)
						li Самопрезентация
				.tab-pane.fade.day-body(role="tabpanel")#lesson-14
					ul.lesson-list
						li Обратная связь по видео с самопрезентацией
						li Улучшения
				.tab-pane.fade.day-body(role="tabpanel")#lesson-15
					ul.lesson-list
						li Выстраивание работы отдела продаж
						li Способы повышения конверсий
						li Обратная связь по выступлениям на основе статистики
						li Улучшения и повышение эффективности
				.tab-pane.fade.day-body(role="tabpanel")#lesson-16
					ul.lesson-list
						li Мотивация руководителя партнёрской программы, карта КПЭ
						li Выплата комиссионных по партнерской программе
						li Юридические и налоговые нюансы
						li Выплаты продуктом
		+b('', 'yellow button-on', href, 'Иду на курс')
		+imgs('plan-img', 'img/images/why.png', 'Картинка блока')