section#prices
	.container
		+gt('', 'Выбрать свой вариант участия:')
		.packets
			.row
				.col-md-6
					.general-wrapper.general-wrapper-blue.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| «Основной»
						.packet-body
							p.packet-body-text для тех, кто хочет освоить востребованную профессию с доходом от 70К в месяц
							ul.packet-body-list
								li 16 онлайн-занятий (1 раз в неделю) + 4 практикума
								li практикумы (раз в две недели)  между занятиями с ОС, для отработки навыков
								li д/з с проверкой  и обратной связью от куратора
								li закрытый чат однокурсников с куратором
								li рекомендательное письмо от Александра Кудряшова для работы РПП в сфере онлайн-бизнеса при подтверждении квалификации
								li внесение в реестр аттестованных РПП, доступный для владельцев онлайн-бизнеса
								li возможность повторного прохождения курса (в роли куратора)
						.packet-footer
							p.cost.cost-full Стоимость
								span 60 000р.
							+b('', 'yellow', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5744&clean=true&lg=ru', 'Выбрать', '_blank')
				.col-md-6
					.general-wrapper.general-wrapper-blue.packet
						.packet-head
							h4.packet-head-title
								small пакет
								| «1+1»
						.packet-body
							p.packet-body-text для сотрудника и владельца бизнеса
							ul.packet-body-list
								li входит весь перечень пакета 
									span «Руководитель партнёрской программы»
								li + 4 планерки с Александром Кудряшовым (владельцем самой масштабной и рабочей партнерской программы) для собственников бизнеса с кратким аудитом Ваших компаний
								li мастер-класс от руководителя отдела продаж Master Vision Александра Чухачева (лучшие показатели по отделам продаж среди многих компаний)
						.packet-footer
							p.cost.cost-full Стоимость
								span 90 000р.
							+b('', 'yellow', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5745&clean=true&lg=ru', 'Выбрать', '_blank')
		.prepayment
			h4.prepayment-title Акция!
			p.prepayment-text Платите 
				span 10 000р., 
				|  бонусом получаете 
				span 5 000р.
				br 
				| На счет зачисляется 
				span 15 000р.
			+b('' ,'blue button-prepayment', 'https://shop.mastervision.su/?r=ordering/cart/as1&id=5746&clean=true&lg=ru','Оплатить 10 000р.', '_blank')